body {
margin: 0;
display:flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
min-height: 100vh;
font-family: Apple Chancery, cursive;

}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: crimson;
    color: white;
    flex: 0 1 auto;
    min-width: 100%;
}
main {
height: 100%;
flex: 0 1 auto;
}

.player {
    display: flex;
    gap: 20px;

}

.rock, .paper, .scissors {
    /* burlywood */
    padding: 35px 75px 35px 75px;
    background: gainsboro;
    font-size: 20px;
    transition:0.3s;
    
}

.rock:hover, .paper:hover, .scissors:hover {
    transform: scale(1.1);
    background-color: #3a3b3c;
    color: white;
    
}

.click {
    cursor: pointer;
}

.roundOutlook {
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
}

.roundWinner {
    background: yellow;
    
}

.replayButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.replayButton {
    padding: 30px;
    background: gold;
    text-align: center;
    font-size: 35px;
    border: 2px solid goldenrod;
}


.score {
    display: flex;
    justify-content: space-around;
    padding:40px;
    font-size: 25px;
}

footer {
flex: 0 1 auto;
background:goldenrod;
min-width: 100%;
text-align: center;
padding: 2vh;
color: white;

}

/*For mobile responsiveness*/
@media only screen and (max-width: 600px) {
    body {
        min-height: 100vh;
        text-align: center;
        color: black;
        -webkit-text-fill-color: black;
    }
    
    .roundOutlook {
        text-align: center;
        margin-bottom: 40px;
        font-size: 30px;
    }

    .score {
        font-size: 20px;
        display: flex;
        justify-content: space-around;
        padding: 35px;
    }
    .player {
        margin-left: 3px;
        margin-right: 3px;
    }
    .rock, .paper, .scissors {
        /* burlywood */
        text-align: center;
        padding: 30px 30px;
        background: gainsboro;
        font-size: 20px;
        transition:0.3s;
        
    }
    .rock:hover, .paper:hover, .scissors:hover {
        transform: scale(1.1);
        background-color: #3a3b3c;
        color: white;
        
    }
    }
